* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-nav {
    padding: 10px;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

a {
    color: white;
    text-align: right;
    margin: 20px;
    text-decoration: none;
    margin-right: 50px;
    float: right;
    font-family: 'Poppin';
    position: relative;
    transition: color 0.3s;
}

a:hover {
    color: #ff4655; /* Change the color on hover */
}

.top-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff4655; /* Set the underline color */
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@font-face {
    font-family: 'Poppin';
    src: url(Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Anton';
    src: url(Anton-Regular.ttf);
}

@font-face {
    font-family: 'Overpass';
    src: url(Overpass-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(RobotoCondensed-VariableFont_wght.ttf);
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This property makes the image cover the entire container */
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.content img {
    width: 100%;
    height: auto;
    max-width: 450px;
    margin: 20px 0;
}

.playnow {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.playnow a {
    text-align: center;
    width: 190px;
    padding: 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 200px;
    transition: transform 0.3s ease-in-out;
}

.playnow a:hover {
    color: #000000;
    background-color: #ff4655;
    transform: scale(1.1);
}

.about {
    margin-top: 100px;
    display: flex;
    height: 100%;
    padding: 15px;
    gap: 5px;
    justify-content: center;
}

.item1 img {
    width: 100%;
    height: auto;
}

.item2 h1 {
    font-size: 90px;
    font-family: 'Anton';
    text-align: right;
    margin-right: 100px;
}

.item2 p {
    font-family: 'Overpass';
    margin-top: 20px;
    text-align: right;
    margin-right: 100px;
}

.esport {
    margin-top: 100px;
    display: flex;
    height: 100%;
    padding: 15px;
    gap: 5px;
    justify-content: center;
    background-color: #ff4655;
}

.i1 img {
    width: 50%;
    height: auto;
    margin-right: -100px;
    
}

.esprts h1 {
    font-size: 90px;
    font-family: 'Anton';
    text-align: left;
    margin-left: 100px;
    color: white;
}

.esprts li {
    font-family: 'Overpass';
    margin-top: 20px;
    margin-left: 100px;
    color: white
    ;
}

.esprts h2 {
    font-family: 'Roboto';
    margin-left: 100px;
    margin-top: 5%;
    color: #302f2f;
    font-size: 40px;
}

@media screen and (max-width: 1200px) {
    .top-nav {
        padding: 15px;
    }

    a {
        font-size: 16px;
    }

    h1, p {
        font-size: 18px;
    }

    .item2 h1,
    .item2 p,
    .esprts h1,
    .esprts li,
    .esprts h2,
    .news h1,
    .flex-container h2,
    .flex-container p {
        font-size: 18px;
    }

    .flex-container img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .SocMed img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        padding: 10px;
    }

    a {
        font-size: 14px;
    }

    h1, p {
        font-size: 16px;
    }

    .item2 h1,
    .item2 p,
    .esprts h1,
    .esprts li,
    .esprts h2,
    .news h1,
    .flex-container h2,
    .flex-container p {
        font-size: 16px;
    }

    .item2 h1,
    .item2 p {
        margin-right: 20px;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .playnow a {
        width: 150px;
        padding: 10px;
        bottom: 100px;
    }

    .image-container img {
        width: 100%;
    }
}

.flex-container {

    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    /* flex-flow: row; */ 
    flex-direction: row; 
    height: 100%;
    gap: 20px;
    margin-top: 5%;

  }

  .flex-container > div{
    border-radius: 5px;
    padding: 8px;
  }

  .flex-container img {
    width: 400px;
    height: auto;
  }

  .news {
    height: 100%;
    padding: 15px;
    margin: 100px;
    margin-top: 1%;
  }

  .news h1 {
    text-align: center;
    margin-top: 5%;
    font-family: 'Anton';
    font-size: 100px;
  }

  .flex-container h2 {
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Roboto';
    color: #ff4655;
  }
  
  .flex-container p {
    color: rgb(170, 169, 169);
    font-size: 15px;
    margin-top: 5%;
    font-family: 'Roboto';
    text-align: left;
  }

  .itm1 {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.itm1:hover {
    background-color: #302f2f; /* or any other color for the hover state */
    transform: scale(1.1); /* Hover effect - scale or any other transformation */
}

.itm2 {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.itm2:hover {
    background-color: #302f2f;
    transform: scale(1.1);
}

.itm3 {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.itm3:hover {
    background-color: #302f2f;
    transform: scale(1.1);
}

.itm4 {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.itm4:hover {
    background-color: #302f2f;
    transform: scale(1.1);
}

  .image-container {
    overflow: hidden;
    position: relative;
}

.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: brightness(50%) sepia(90%) hue-rotate(0deg) saturate(100%);
}

.SocMed img {
    width: 1850px;
}

.socials h1 {
    margin-left: 100px;
    font-size: 90px;
    font-family: 'Anton';
    text-align: left;
}

.socials a {
    font-size: 18px;
    color: black;
    float: left;
    margin-left: 100px;
}

.soc1 a:hover {
    width: auto;
    padding: 10px;
    color: white;
    border-radius: 20px;
    transition:.5s;
    background: linear-gradient(
        to right,
        rgb(60, 60, 165),
        rgb(61, 61, 255),
        rgb(59, 59, 254),
        rgb(136, 136, 255),
        rgb(185, 185, 255)
    );
    background: -webkit-linear-gradient(
        to right,
        blue,
        rgb(60, 60, 165),
        rgb(59, 59, 254),
        rgb(136, 136, 255),
        rgb(185, 185, 255)
    );
}

.soc2 a:hover {
    padding: 10px;
    color: black;
    border-radius: 20px;
    transition:.5s;
    background: linear-gradient(
        to right,
        purple,
        rgb(228, 0, 114),
        red,
        orange,
        yellow
    );
    background: -webkit-linear-gradient(
        to right,
        purple,
        rgb(228, 0, 114),
        red,
        orange,
        yellow
    );
}